<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Multi Tick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link href="./favicon.ico" rel="icon" type="image/x-icon"/>
  </head>
  <body>
    <div class="container" ng-app="app" ng-controller="aCtrl">
      <div class="well">
        <h4>Multi Tick <small>{{time|date:"dd/MM/yyyy HH:mm:ss"}}</small><!--<button class="btn btn-default pull-right">Add Target</button>--></h4>
      </div>
      <div ng-repeat="target in targetList" class="panel panel-{{target.color}}">
        <div class="panel-heading"><h4>{{target.title}}<a href="#" class="close" ng-click="remove(target)" ng-show="target.left=='00:00:00'" aria-label="close">&times;</a></h4></div>
        <div class="panel-body row">
          <div class="col-sm-2"><img src="img/{{target.image}}" width="100%"></div>
          <div class="col-sm-10 align-middle text-center"><strong style="font-size:8vw;">{{target.left}}</strong></div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/lib/moment.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>